@font-face {
	font-family: davidCursive;
	font-weight: 800;
	src: url(Fonts/VC_david-Cursive.woff);
}

@font-face {
	font-family: narkisBold;
	font-weight: 800;
	src: url(Fonts/VC_Narkis-Bold.woff);
}

@font-face {
	font-family: narkisBlock;
	font-weight: 800;
	src: url(Fonts/VC_NarkisBlock-Regular.woff);
}
html {
  height  : 100%;
  overflow: hidden;
}

:root {
  --main-color: #f70d3f;
  --background-color: #e6e9e1;
}

body {
  /* height  : 100%; */
  overflow: hidden;
  margin: 0;
  padding: 16px;
  direction: rtl;
  font-family: narkisBlock,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/Images/bg.png');
}

div{
  -webkit-overflow-scrolling: touch;
}

p {
  line-height: 1.6em;
  min-height: 0.8em;
  /* margin-bottom: 1.6em; */
}

h1 {
  font-size: 20vw;
  font-family: davidCursive;
  font-weight: 400;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h2 {
  /* font-family: davidCursive; */
  background-color: var(--main-color);
  display: inline-block;
  padding: 0 8px 8px 8px;
  color: white;
}

h3 {
  font-family: narkisBold;
  font-size: 5vw;
}

h4 {
  font-family: narkisBold;
  font-size: 24px;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.plant-name{
  font-family: davidCursive;
  font-size: 18px;
}



select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  font-family: narkisBlock;
  font-size: 3vw;
  height: 10vw;
  border-width: 4px 0 4px 0;
  border-radius: 0;
  border-color: var(--main-color);
  padding-bottom: 1.5vw;
}

select:focus {
  outline: none;
}